{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <table class="table">
            <thead>
            <tr>
                <td colspan="3" class="text-end">
                    <a href="{% url 'transfer_product' %}" class="btn btn-primary">Transfer Products</a>
                </td>
            </tr>
            <tr>
                <th>Product</th>
                <th>Store</th>
                <th>Stock</th>
            </tr>
            </thead>
            <tbody>
            {% for stock_entry in stock_entries %}
                <tr>
                    <td>{{ stock_entry.product.name }}</td>
                    <td>{{ stock_entry.store.name }}</td>
                    <td>{{ stock_entry.quantity }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}