{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container text-center">
        <img src="/static/img/LogoAS.png" alt="AurySolutions Ecuador" class="pt-3 img-fluid">
        <h1 class="text-success pb-2">Final Project</h1>
        <h2 class="text-info pb-5">{{ message }}</h2>
        <p>
            This project seeks to apply what I learned in the Python course at Tokio School.
            <br/>
            I hope this will strengthen my knowledge and introduce me to this new world.

        </p>
        <p>
            One thing I learned is that even though I avoided Python, today I had to face it head on.
            <br/>
            I stepped out of my comfort zone, but I'm happy with the result.
        </p>
        <p class="">
            <b>"We did it...!!!"</b>
        </p>

    </div>

{% endblock %}